
.alert-success{
  color: #00a2e8 !important;
}
@media screen and (min-width: 768px){
.jumbotron .h1, .jumbotron h1 {
  font-size: 30px !important;
}
}
h1, site_title>a{
font-size: 30px !important;
}
.faucet-nav {
  background-color: #00a2e8;
  border-color: #ffa500;
}

.btn{
	background-color: #00a2e8;
	width: 124px;
}

.btn:hover,.btn:focus{
	color:white;
	background: #00a2e8;
}

.dropdown-menu>li>a, .dropdown, .faucet-nav .navbar-nav>.active>a, .faucet-nav .navbar-nav>.active>a:hover {
  color: #ffa500;
  background-color: #DDD;
}

.dropdown-menu{
  background-color: #DDD;
}

.dropdown open {
  background-color: #DDD;
  color: #ffa500;
}

.faucet-nav .navbar-brand {
  color: #ffa500;
}

div.hidden
{
  display: none
}

.alert {
	margin-bottom: 0px;
}

.alert-success {
	background-color: #DDD;
}

a {
	outline:0;
	color: #ff6600;
	text-decoration:none !important;
}

a:visited {
	color: #ff6600;
}

a:active, a:hover {
	color: #a74300;
}

.faucet_block {
	margin-left:auto; 
	margin-right: auto; 
	margin-top: 15px;
	width:fit-content;
}

.dropdown-toggle {
  color:#ff6600;
}

.navbar-collapse {
  width:850px;
}

.navbar-collapse.in {
  overflow-y: visible;
}

.dropdown-menu>a {
  background-color: #EAEAEA;
  width:100%;
  color: #ff6600;
}

.dropdown-menu {
  z-index: 1001;
  background-color: #EAEAEA;
  width:max-content;
  text-shadow: none;
}

.navbar-header {
  margin-left:0px;
  text-shadow: 0px 0px 2px rgba(200,100,0,1);
}

.navbar-header>a:hover {
  color:#a74300;
  text-shadow: 0px 0px 1px rgba(0,0,0,.5);
}

a.btn-head {
  text-shadow: 0px 0px 2px rgba(0,0,0,1);
  color: #ffa500;
  background: #00a2e8;
  border: 0px;
}
.btn{
  color: #ffa500;
  background: #00a2e8;
  text-shadow: 0px 0px 2px rgba(0,0,0,1);
}
.btn:focus, .btn:hover {
  color: #a74300;
  background: #00a2e8;
  text-shadow: 0px 0px 1px rgba(0,0,0,.5);  
}
.btn-head {
  text-shadow: 0px 0px 2px rgba(0,0,0,1);
  color: #ffa500;
  background: #00a2e8;
  border: 0px;
}

.btn-head:focus, .btn-head:hover {
  color: #a74300;
  background: #00a2e8;
  text-shadow: 0px 0px 1px rgba(0,0,0,.5);
  outline: 0;
}

.btn-group {
  margin-top:10px;
  margin-bottom:7px;
  margin-left: 2px;
}

.list-group-item {
  border:0;
  text-shadow: none;
}

a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
  color: #a74300;
  text-decoration: none;
  background-color: #ddd;
  text-shadow: none;
}

.submit-btn, #page_refresh, #page_refresh_2, #winform_submit{
	color: #ffa500;
	text-shadow: 0px 0px 1px rgba(0,0,0,1);
	box-shadow: 0 0 5px 1px rgba(0,0,0,.3);
	border-width:0;

}



.submit-btn:hover, .submit-btn:focus, #page_refresh:focus, #page_refresh_2:focus, #page_refresh:hover, #page_refresh_2:hover, #winform_submit:hover, #winform_submit:focus {
	color: #a74300;
	text-shadow: 0px 0px 1px rgba(0,0,0,0);
	box-shadow: inset 0 0 5px 1px rgba(0,0,0,.3);
}
.icon_2ch{
  height:18px;
  margin-right:5px;
  margin-top: auto;
  margin-bottom: auto;
}
.icon_brand{
  position: relative;
  height:40px;
  float: left;
  margin-right:10px;
  margin-top: -10px;
}
.headcontainer1 {
  margin:auto;
  width:890px;
}
.site_title {
	text-shadow: 0px 0px 2px rgba(200,100,0,.6);
}
.navbar-header img:last-child {
display: none;  
}
.navbar-header img:first-child {
display: block;  
}
.navbar-header:hover img:last-child {
display: block;  
}
.navbar-header:hover img:first-child {
display: none;  
}

.logo  img:last-child {
display: none;  
}
.logo img:first-child {
display: block;  
}
.logo:hover img:last-child {
display: block;  
}
.logo:hover img:first-child {
display: none;  
}

.top_capchers {
position:fixed;
top:60px;
right:5px;
z-index:1000;
width:max-content;
}
.top_capchers>button {
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
}
.top_capchers>.dropdown-menu {
position:relative;
left:-5px;
}
.topcapcher_name {
width:fit-content;
display:block;
float:left;
margin-left:15px;
margin-right:10px;
border-width:1px;
}
.topcapcher_capchas {
width:fit-content;
display:block;
float:right;
margin-left:10px;
margin-right:15px;
}
.topcapcher_item {
margin:0;
padding:0;
height: 20px;
background:inherit;
border-bottom-style: ridge;
border-radius: 0;
border-width: thin;
border-bottom-color: rgba(0,0,0,.04);
}
.list-group-item:last-child{
border-radius: 0 !important;
}
@media screen and (max-width: 768px) {
.top_capchers{
  top:110px;
}
.container .jumbotron{
  margin-top:40px;
}
}
@media screen and (min-width: 769px) {
.top_capchers{
  top:60px;
}
.container .jumbotron{
  margin-top:0px;
}
}

@keyframes bgrandom {
0% { color:red; }
20% { color:orange;}
60% { color:green; }
80% { color:blue; }
100% { color:purple;}
}

#topcapcher_first, .topcapcher_first {  animation: 1.2s bgrandom infinite; }

.topcapcher_capchas{
  color: #00a2e8;
  text-shadow: 0px 0px 1px rgba(0,0,0,.7);
}
.topcapcher_name{
  text-shadow: 0px 0px 1px rgba(0,0,0,.7);
}
.capchasoses{
  margin-top:5px;
  margin-bottom:10px;
}
.right_panel_btn{
  color: #ffa500;
  background-color: #00a2e8;
  text-shadow: 0px 0px 2px rgba(0,0,0,1);
	width: fit-content;
  padding: 7px;
  outline: 0;
  border-width: 1px;
  border-color: #ffa500;
  border-radius:4px !important;
}
.right_panel_btn:hover, .right_panel_btn:focus{
  color: #a74300;
  text-shadow: 0px 0px 1px rgba(0,0,0,.5);
  
}



#alert_captcher_name{
  margin-right:25px;
  width:max-content;
}
.alert-success #alert_capcher_name{
  text-shadow: 0px 0px 2px #00a9ed;
}
.alert{
  width:max-content !important;
}
#wasted{
  line-height: 1.5em;
  color: #ff6600;
  text-decoration:none !important;
  font-size: 12px;
}
.win_title{
  color: #ff6600 !important;
}
.win_comment_label{
  margin-top: 4px;
  color: #ff6600;
}
.win_comment{
  resize: none; 
  width:350px; 
  font-size: 10px;
  border-color: #ff6600;
}
textarea.win_comment{
  color: #ff6600;
}
.win_comment:focus{
  border-color: #00a2e8;
  color: #00a2e8;
  outline: none;
}
.win_form_desc{
  width:350px;
  font-size: 10px !important;
}

#winform_submit{
  margin-top: 8px;
}
.alert{
  padding-right: 25px !important;
  padding-left: 25px !important;
}

.winners_btn {
  position:fixed;
  top:104px;
  right:5px;
  z-index:1000;
  width:max-content;
}
.winners_btn>button{
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.winners_btn>.dropdown-menu {
  position:relative;
  left:-5px;
  padding-bottom: 0px;
}
.winners {
  width:350px;
  display:block;
  float:right;
  margin-left:10px;
  margin-right:15px;
}
.winners_item {
  margin:5px;
  padding:0;

  background:inherit;
  border-bottom-style: ridge;
  border-radius: 0;
  border-width: thin;
  border-bottom-color: rgba(0,0,0,.04);
}
@media screen and (max-width: 768px) {
  .winners{
    top:110px;
  }
}
@media screen and (min-width: 769px) {
  .winners{
    top:60px;
  }
}
.winners_name {
  text-shadow: 0px 0px 1px rgba(0,0,0,.7);
  display: inline-block;
}
.winners_commentary {
  color: #00a2e8;
  text-shadow: 0px 0px 1px rgba(0,0,0,.7);
  word-break: break-word;
}
.winners_amount{
  display: inline-block;
  float: right;
  color: #ff6600;
}
.winners_container{
  margin-bottom: 10px;
  outline-style: solid;
  outline-width: thin;
  outline-offset: 3px;
  outline-color: #d1d1d1;
}

.rolls_help{
  border:1px;
  border-width:0;
  outline: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 8px;
  padding-left: 8px;
  border-radius: 4px;
}

.tooltip-inner{
  width: 300px !important;
  max-width: 300px !important;
}